
input[type=checkbox] {
    transform: scale(1.5);
    position:center;
    margin-right: 10px!important;
}

.bttnGrey{
    position: relative;
    outline:2px dashed blue;
}

.button3{
    margin-left: 135px!important;
}

.saveButton{
    height: 48px !important;
    border: 2px solid black;
}

.menu2{
    background-color:#e0e0e0!important;
}

.dropdown1{
    width:22%!important;
    height: 50% !important;
    margin-top:10px!important;
    margin-left: 20px!important;
}

.dropdown2{
    width:22%!important;
    height: 50% !important;
    margin-top:10px!important;
    margin-left: 180px!important;
    margin-right:30px!important;
}
.table2{
    width:70% !important;
}

.picker{
    width:50% !important
}
.distance{
    margin-top: 5% !important;
}
