body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "UT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./Fonts/UTSans-Regular.ttf") format("truetype");
}

body {
  margin: 10px;
  font-family: "UT Sans", sans-serif;
}

h1 {
  font-family: "UT Sans", sans-serif !important;
  color: #666666 !important;
}

h2 {
  font-family: "UT Sans", sans-serif !important;
}

h3 {
  font-family: "UT Sans", sans-serif;
}

h4 {
  font-family: "UT Sans", sans-serif;
}

h5 {
  font-family: "UT Sans", sans-serif;
}

h6 {
  font-family: "UT Sans", sans-serif;
}


/*override la css-uri din DNN*/
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/*suprascriem semantic.ui-ul sa aiba default fontul UT Sans"*/
.ui {
  font-family: "UT Sans", sans-serif !important;
}

.grid {
  border: 0 !important;
}


#MainWrapper {
  max-width: 1720px !important;
}

.spd-row {
  max-width: 1720px !important;
}

/*override necesar ca modalele sa nu o mai ia razna in DNN*/
.modal {
  top: auto !important;
  bottom: auto !important;
  right: auto !important;
  left: auto !important;
}