.header {
    padding: 30px;
    text-align: center;
    color: #666666;
    font-size: 40px;
    font-family:'UT Sans';
    margin-outside: 10px;
}

.subheader {
    text-align: center;
    color: #666666;
    font-size: 40px;
    font-family:'UT Sans';
}

.steps {
    font-size: 110%;
    font-family: "UT Sans";
}

.dropdown {
    font-family: "UT Sans";
}

.cardContent {
    font-size: 110%;
    font-family: "UT Sans";
    align-items: end;
}

.labelDropdown {
    padding: 30px;
    font-family: "UT Sans";
    font-size: 110%;
}

.btnDescarca {
    text-align: center;
    vertical-align: bottom;
    justify-content: left;
    font-family: "UT Sans";
    padding-top: 20px;
}

.btn {
    font-family: 'UT Sans';
    text-align: center;

}

.segmentData {
    font-family: "UT Sans";
    padding-bottom: 5% !important;

}


.gridRow3 {
    margin-left: 13vw !important;
    margin-right: 13vw !important;
    outline-color: black !important;

}

.stepColumn{
    width: 50%;
    margin-right: 60px;
    margin-left: 20px;
}

.paddingCardBottom {
    padding-bottom: 10px !important;
    font-family: sans-serif !important;
}

.paddingCardTop {
    padding-top: 10px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}

.sizeDropdown {
    width: 20%;
}

.centrare {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}